{{#get "posts" filter="featured:true" limit="6" as |featured|}}
  <section class="owl-carousel">
    {{#foreach featured}}
      <div class="card-hero" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('{{image}}')">
        <div class="card-hero__content">
          <h3>{{title}}</h3>
          <p>{{excerpt words="26"}}</p>

          <div class="card-hero__button">
            <a class="btn carousel-btn" href="{{url}}">Read more
              <span class="icon-right"></span><span class="icon-right after"></span>
            </a>
          </div>
        </div>
      </div>
    {{/foreach}}
  </section>
{{/get}}
