{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The carousel for featured post --}}
<div class="features-post">
  {{> "carousel"}}

  <nav class="carousel-nav">
    <span class="carousel-prev">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="512px" height="512px">
        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225   c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" fill="#FFFFFF"/>
      </svg>
    </span>
    {{!-- Prev --}}

    <span class="carousel-next">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="512px" height="512px">
        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z   " fill="#FFFFFF"/>
      </svg>
    </span>
    {{!-- Next --}}
  </nav>
  {{!-- Carousel navigation --}}
</div>
{{!-- Features post --}}


{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    {{!-- Search --}}
    <div class="search-form section">
      <form class="column">
        {{!-- Search box --}}
        <input id="search-field" class="search-input" placeholder="Quick search your favorite post...">
        <i class="search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve" width="30px" height="30px">
            <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21  c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279  C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19  S32.459,40,21.983,40z" fill="#333333"/>
          </svg>
        </i>

        {{!-- Subscribe link --}}
        <span>
          or <a href="/subscribe">Subscribe us</a> to receive latest news.
        </span>
      </form>
    </div>

    {{!-- Search results --}}
    <div class="section search-results">
      <ul id="search-results" class="column search-results"></ul>
    </div>

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    <div class="grid section">
      {{> "loop"}}
    </div>

    {{!-- Infinite loading --}}
    {{pagination}}

</main>
