// SCSS Button
// ----------------------------------------

.btn {
  border-radius: $image-radius;
  background-color: $blue;
  box-shadow: $image-box-shadow;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: .5rem 2rem;
  line-height: 1px;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: color .3s .1s ease-out;

  &:hover {
    color: $white;
  }
}
