// SCSS Cards
// ----------------------------------------

// Card Blog
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  color: $black;

  .card-image {
    height: 60%;
    position: relative;
    margin: -30px 0 0;

    img {
      width: 100%;
      height: 100%;
      border-radius: $image-radius;
      box-shadow: $image-box-shadow;
      pointer-events: none;
    }

    .card-title {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      color: $white;
      font-family: unquote(map-get($headingtype, font-family));
      text-shadow: 0 2px 5px $text-shadow;
    }

    .card-title-sub {
      color: $black;
      font-family: unquote(map-get($headingtype, font-family));
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .card-content {
    font-family: unquote(map-get($headingtype, font-family));

    p {
      margin-bottom: 10px;
    }

    a {
      font-size: 1rem;
    }
  }

  .card-footer {
    @include md(break-1) {
      margin-bottom: 0;
    }
    font-family: unquote(map-get($headingtype, font-family));
    width: 100%;
    min-height: 25px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 5rem;

    a {
      display: block;
      font-size: .8rem;
      color: $black;
    }

    .minilogo {
      width: 30px;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      border-radius: $circle-radius;
      background-color: $background-color;
      box-shadow: $image-box-shadow;
    }

    .card-author {
      @include box-sizing(border-box);

      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      height: auto;

      >:first-child {
        margin-right: 15px;
      }

      >* {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &.card-blog {
    margin-top: 30px;

    .card-title {
      margin-top: 5px;
    }
  }
}
