// SCSS Search
// ----------------------------------------

// Search form
.search-form {
  form {
    position: relative;

    .search-input {
      width: 100%;
      height: 50px;
      border: 0;
      border-radius: $image-radius;
      background-color: $background-color;
      font-family: unquote(map-get($headingtype, font-family));
      font-size: 1.2rem;
      color: $black;
      padding: 2rem 1rem;
      transition: 200ms ease-in-out;

      &::-webkit-input-placeholder {
        color: $black;
      }

      &:-moz-placeholder {
        color: $black;
      }

      &::-moz-placeholder {
        color: $black;
      }

      &:-ms-input-placeholder {
        color: $black;
      }

      &:focus {
        border: 0;
        outline: 0;
      }
    }

    i {
      @include center(y);
      position: absolute;
      top: 40%;
      right: 50px;
    }

    span {
      margin: 0;
      padding: 0;
      display: block;
      font-family: unquote(map-get($headingtype, font-family));
      font-size: .7rem;
    }
  }
}

// Search results
.search-results {
  position: absolute;
  z-index: 2222;

  ul {
    padding-top: 2rem;
    padding-bottom: 2rem;

    li {
      border-bottom: 2px solid $blue;
      background-color: $background-color;
      padding: .5rem 1rem;
      margin: 0 auto;
      display: block;
      font-family: unquote(map-get($headingtype, font-family));
      font-size: 1rem;
      color: $black;

      span {
        display: block;
        font-size: .7rem;
        color: $text-shadow;
        font-style: italic;
      }
    }
  }
}

.results-hide {
  display: none;
}
