// SCSS Author
// ----------------------------------------

.author-profile {
  font-family: unquote(map-get($headingtype, font-family));
  font-size: 1rem;
  text-align: center;

  .author-image {
    position: relative;
    left: auto;
    top: auto;
    width: 120px;
    height: 120px;
    padding: 3px;
    margin: -60px auto 0;
    box-shadow: none;

    .img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      border: 4px solid $white;
      border-radius: $circle-radius;
    }
  }

  p {
    margin-bottom: 2px;
  }

  span {
    color: $grey;
    font-style: italic;
    margin-right: 8px;
  }
}
